<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mechanical design manager</title>
</head>
<body>
<h1>Designer profile</h1>
<h1>My profile</h1>
<img th:src="@{/imagines/mdm.jpeg}" alt="mechanicak" />


<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

<form method="GET" th:action="@{/admin_tools}">
    <input type="submit" value="Admin tools"/>
</form>

<form method="GET" th:action="@{/getMyProjects}">
    <input type="submit" value="Show my projects (nf)"/>
</form>

<form method="GET" th:action="@{/getMyTasks}">
    <input type="submit" value="Show my tasks (nf)"/>
</form>

<div>
    <a th:href="@{/my-profile/my_report}">
        <button type="button">Generate my report</button>
    </a>
</div>



<div>First name: <span th:text="${user.firstName}"></span></div>
<div>Last name: <span th:text="${user.lastName}"></span></div>
<div>Email: <span th:text="${user.email}"></span></div>
<div>Date of birth: <span th:text="${user.birthDate}"></span></div>
<div>Date of employment: <span th:text="${user.employmentDate}"></span></div>
<div>Role: <span th:text="${user.role}"></span></div>






</body>
</html>