<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mechanical design manager</title>
</head>
<body>
<h1>Projects list</h1>
<img th:src="@{/imagines/mdm.jpeg}"/>

<div>
    <a th:href="@{/my-profile}">
        <button type="button">My profile</button>
    </a>
</div>

<div>
    <a th:href="@{/admin_tools}">
        <button type="button">Admin tools</button>
    </a>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr th:each="project : ${projects}">
        <td th:text="${project.id}"></td>
        <td>
            <a th:href="@{'/project/' + ${project.id}}"
               th:text="${project.title}"></a>
        </td>
        <td th:text="${project.description}"></td>
    </tr>
</table>
</body>
</html>
