<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mechanical design manager</title>
</head>
<body>
<h1>Unit</h1>
<img th:src="@{/imagines/mdm.jpeg}"/>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

<div>
    <a th:href="@{/my-profile}">
        <button type="button">My profile</button>
    </a>
</div>

<div>
    <a th:href="@{/admin_tools}">
        <button type="button">Admin tools</button>
    </a>
</div>

<div>
    <a th:href="@{/project/{projectId}/unit/{id}/edit_unit(
        projectId=${project.id},
        id=${unit.id}
)}">
        <button type="button">Edit unit</button>
    </a>
</div>

<div>
    <form method="POST"
          th:action="@{/project/{projectId}/unit/{id}/delete_unit(
          projectId=${project.id},
          id=${unit.id}
      )}"
          onsubmit="return confirm('Are you sure you want to delete this unit?');">
        <button type="submit">Delete unit</button>
    </form>

</div>



    <div>Project title: <span th:text="${project.title}"></span></div>
    <div>Unit title: <span th:text="${unit.title}"></span></div>
    <div>Unit description: <span th:text="${unit.description}"></span></div>


    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>User name</th>
            <th>Status</th>
        </tr>
        <tr th:each="task : ${unit.tasks}">

            <td th:text="${task.taskName}"></td>

            <td th:text="${task.description}"></td>

            <td>
                <span th:if="${task.user != null}"
                    th:text="${task.user.firstName + ' ' + task.user.lastName}"></span>
                <span th:unless="${task.user != null}">—</span>
            </td>

            <td th:text="${task.status}"></td>

        </tr>
    </table>

<form method="GET" th:action="@{/project/{projectId}/unit/{unitId}/task/new(projectId=${project.id}, unitId=${unit.id})}">
    <input type="submit" value="Add new task"/>
</form>

</body>
</html>
